<div class="container mt-5 ">
    <div class="row">
        <div class="col-12">
            <div class="card mt-4 border shadow">
                <div class="card-header d-flex justify-content-between">
                    <p>Post_id :<span class="text-success"> &nbsp; {{singleCardData.id}}</span></p>
                    <p>Id : <span class="text-success"> &nbsp; {{singleCardData.postId}}</span></p>
                </div>
                <div class="card-body" style="height: 100px !important;
              overflow: scroll;
              overflow-x: hidden;">
                    <p>{{singleCardData.body}}</p>
                </div>
                <div class="card-footer">
                    <p>Name :<span class="text-success"> &nbsp; {{singleCardData.name}}</span></p>
                    <p>E-mail : <span class="text-success"> &nbsp; {{singleCardData.email}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
