<div class="container">
    <div class="row">
        <div class="col-12 border">
            <fieldset>
                <legend>Child Component</legend>
                <form>
                    <div class="row">
                        <div class="col-5">
                            <label for="">Name</label>
                            <input type="text" #name class="form-control" placeholder="Name">
                        </div>
                        <div class="col-5">
                            <label for="">Email</label>
                            <input type="email" #email class="form-control" placeholder="Email">
                        </div>
                        <br>
                        <div class="col-2 mt-4">
                            <button class="btn btn-sm btn-outline-success" style="position: relative; top: 10px;">Senda Date</button>
                        </div>
                    </div>
                </form>
                <ng-container class="mt-5 p-3">
                    <p class="mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, velit. Odio, error atque dicta sit architecto provident, eos consequuntur a fugit eveniet id natus optio, porro commodi repellendus sapiente maiores?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, velit. Odio, error atque dicta sit architecto provident, eos consequuntur a fugit eveniet id natus optio, porro commodi repellendus sapiente maiores?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, velit. Odio, error atque dicta sit architecto provident, eos consequuntur a fugit eveniet id natus optio, porro commodi repellendus sapiente maiores?</p>
                </ng-container>

            </fieldset>
        </div>

    </div>
</div>
